body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white; /*Cor de fundo da section*/
    border-radius: 10px; /*Arredonda a borda*/
    padding: 15px; /*Aumenta o elemento*/
    width: 500px; /*Largura fixa*/ 
    margin: auto; /*Centraliza*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div{
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#imagem{
    display: block;
    width: 200px;
    border-radius: 200px;
    margin: 10px auto;
    box-shadow: 1px 10px 5px gray;

}