body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white; /*Cor de fundo da section*/
    border-radius: 10px; /*Arredonda a borda*/
    padding: 15px; /*Aumenta o elemento*/
    width: 500px; /*Largura fixa*/ 
    margin: auto; /*Centraliza*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}